
spring:
  devtools:
    livereload:
      enabled: true
  freemarker:
    cache: false
  jpa:
    show-sql: true
#    format-sql: true
    database: sql_server
    hibernate:
      naming:
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy #org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy #org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl # 기본 변수이름을 그대로 이용한다.
      #ddl-auto: create
      ddl-auto: update
    properties:
#      javax:
#        persistence:
#          schema-generation:
#            create-source: metadata
#            scripts:
#              action: create
#              create-target: create.sql
      hibernate:
        format_sql: true
        use_sql_comments: true
  data:
    jpa:
      repositories:
        enabled: true
  flyway:
    locations: classpath:/db/migration/local
    baseline-on-migrate: true
    enabled: true
    encoding: UTF-8
    table: flyway_sop_schema_history
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
#    url: jdbc:sqlserver://192.168.9.183:20170;DatabaseName=dtnsm_prod
#    url: jdbc:sqlserver://220.117.192.209:20170;DatabaseName=cauh_dev_20201106
    url: jdbc:sqlserver://192.168.9.183:20170;DatabaseName=cauh_dev_20201106
    username: sa
    password: safe123!@#

logging.level.org.hibernate.SQL: info
logging.level.org.hibernate.type.descriptor.sql:  info


server:
  domain: iso.cauh.ac.kr
  port: 8081

file:
  upload-dir: C:\UploadFiles\iso\cauh
  training-log-upload-dir: C:\UploadFiles\cauh\binder\
  binder-dir: C:\UploadFiles\cauh\binder\

gw:
  userTbl: gw.GWareNet10_Dtnc.dbo.tblUser_1
  deptTbl: gw.GWareNet10_Dtnc.dbo.tblDepart_1

groupdocs:
  license: D:\\Servers\\deploy\\GroupDocs.Total.Java.lic
