
spring:
  devtools:
    livereload:
      enabled: false
  freemarker:
    cache: true
#  mail:
#    host: smtp.gmail.com
#    port: 587
#    protocol: smtp
#    username: sano.noreply@gmail.com
#    password: apfhd..6!
#    default-encoding: UTF-8
#    properties:
#      mail:
#        smtp:
#          starttls:
#            enable: true
#          auth: true
  jpa:
    show-sql: false
    #    format-sql: true
    database: sql_server
    hibernate:
      naming:
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy #org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy #org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl # 기본 변수이름을 그대로 이용한다.
      #      ddl-auto: create
      ddl-auto: update
    properties:
      #      javax:
      #        persistence:
      #          schema-generation:
      #            create-source: metadata
      #            scripts:
      #              action: create
      #              create-target: create.sql
      hibernate:
        format_sql: true
        use_sql_comments: true
  data:
    jpa:
      repositories:
        enabled: true
  flyway:
    locations: classpath:/db/migration/prod
    baseline-on-migrate: true
    enabled: false
    encoding: UTF-8
    table: flyway_sop_schema_history
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://183.111.104.67:20170;DatabaseName=kcsg_dev_20200703
    username: sa
    password: safe123!@#

#logging.level.org.hibernate.SQL: TRACE
#logging.level.org.hibernate.type.descriptor.sql:  INFO
logging.level:
#  root: debug
#  org.springframework:
#    web: warn
#    security: info
#    boot: info
  org.hibernate:
    SQL: info
    type:
      descriptor:
        sql: info
#  com.dtnsm: debug

server:
  domain: esop.safesoft.co.kr
  port: 8081

file:
  upload-dir: D:\UploadFiles\iso\cauh
    training-log-upload-dir: D:\UploadFiles\cauh\binder\
    binder-dir: D:\UploadFiles\cauh\binder\

gw:
  userTbl: gw.GWareNet10_Dtnc.dbo.tblUser_1
  deptTbl: gw.GWareNet10_Dtnc.dbo.tblDepart_1

groupdocs:
  license: D:\\Servers\\deploy\\GroupDocs.Total.Java.lic

